<a href="https://colab.research.google.com/github/basadhi/DataStorm4.0/blob/main/Storming_Round/DataStorm4_0_submission__01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Libraries**

In [260]:
# importing required libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


# switching to seaborn defaults
sns.set()

In [261]:
# loading data

his_transaction_data = pd.read_csv("Historical-transaction-data.csv")
store_info = pd.read_csv("Store-info.csv")
testing_data =  pd.read_csv("Testing-data.csv")

In [262]:
# observing the given dataset

store_info.head(20)

    shop_id  shop_area_sq_ft shop_profile
0   SHOP047              528     Moderate
1   SHOP009              676         High
2   SHOP083              676          Low
3   SHOP117              676          Low
4   SHOP042              676          Low
5   SHOP034              494          Low
6   SHOP100              617     Moderate
7   SHOP057              423     Moderate
8   SHOP098              676          Low
9   SHOP123              735     Moderate
10  SHOP116              733     Moderate
11  SHOP005              617          Low
12  SHOP065              548          Low
13  SHOP104              537     Moderate
14  SHOP091              676         High
15  SHOP015              441          Low
16  SHOP062              495         High
17  SHOP084              617          Low
18  SHOP032              707     Moderate
19  SHOP041              676          Low

# **Data Cleaning**

In [263]:
his_transaction_data.shape

(473974, 7)

In [264]:
his_transaction_data.describe()

         invoice_id     item_price  quantity_sold
count  4.676540e+05  473974.000000  473974.000000
mean   1.996684e+06     206.689734       1.925506
std    1.344594e+06     166.764732       1.634535
min    1.700000e+01      35.000000      -1.000000
25%    1.032114e+06     100.000000       1.000000
50%    2.032996e+06     200.000000       2.000000
75%    3.032568e+06     220.000000       2.000000
max    8.331754e+06   17400.000000     101.000000

In [265]:
his_transaction_data["item_description"].describe()

count               438046
unique                  37
top       GINGER BEER 1.5L
freq                 59864
Name: item_description, dtype: object

In [266]:
his_transaction_data["item_description"].unique()

array(['ORANGE BARLEY 1.5L', 'GINGER BEER 1.5L', 'TONIC PET 500ML',
       'CREAM SODA 1L', 'STRAWBERRY MILK 180ML', 'CREAM SODA 1.5L',
       'TWISTEE APPLE 1L', 'FIT O MIXED FRUIT 200ML', 'SODA PET 1.5L',
       'FIT O MIXED FRUIT 1L', 'KIK COLA 1L', 'LEMONADE 500ML',
       'FIT O ORANGE 1L', 'NECTO 1.5L', 'LEMONADE 1.5L', 'GINGER BEER 1L',
       'FIT O MANGO 200ML', 'FIT O MANGO 1L', 'CREAM SODA 500ML',
       'FIT O ORANGE 200ML', nan, 'CREAM SODA APPLE POP 1L',
       'BOTTLED DRINKING WATER 500ML', 'SODA 500ML', 'GINGER BEER 500ML',
       'SODA 1L', 'NECTO 500ML', 'ORANGE CRUSH 500ML',
       'BOTTLED DRINKING WATER 1.5L', 'NECTO 1L',
       'GINGER BEER SUGAR FREE 500ML', 'ORANGE CRUSH 1.5L',
       'DRY GINGER ALE PET 500ML', 'LEMONADE 1L', 'ORANGE CRUSH 1L',
       'GINGER BEER 400ML', 'CHOCOLATE MILK 180ML', 'LIME CRUSH JUICE 1L'],
      dtype=object)

As per above we found no misspellings in the "item_ description".

**Handling Missing Values**

In [267]:
his_transaction_data.isnull().sum()

item_description    35928
transaction_date        0
invoice_id           6320
customer_id             0
shop_id                 0
item_price              0
quantity_sold           0
dtype: int64

In [268]:
his_transaction_data["item_price"].describe()

count    473974.000000
mean        206.689734
std         166.764732
min          35.000000
25%         100.000000
50%         200.000000
75%         220.000000
max       17400.000000
Name: item_price, dtype: float64

In [269]:
def impute_mode(group):
    try:
        mode_value = group.mode()[0]
    except:
        return group.fillna(np.nan)
    return group.fillna(mode_value)


his_transaction_data["item_description"] = his_transaction_data[["item_description", "item_price"]].groupby('item_price')["item_description"].transform(impute_mode)

In [270]:
his_transaction_data.head(50)

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold
0,ORANGE BARLEY 1.5L,2021-12-11T00:00:00.000Z,147.0,BGXA,SHOP008,220,2
1,GINGER BEER 1.5L,2021-10-17T00:00:00.000Z,371.0,IA25,SHOP112,220,2
2,TONIC PET 500ML,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,160,2
3,CREAM SODA 1L,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,150,2
4,STRAWBERRY MILK 180ML,2021-10-23T00:00:00.000Z,1310.0,7S00,SHOP112,210,5
5,CREAM SODA 1L,2021-10-30T00:00:00.000Z,1624.0,KZB3,SHOP055,150,2
6,CREAM SODA 1.5L,2021-10-28T00:00:00.000Z,2024.0,0PDI,SHOP112,220,2
7,TWISTEE APPLE 1L,2021-10-31T00:00:00.000Z,2521.0,7OPC,SHOP112,270,2
8,FIT O MIXED FRUIT 200ML,2021-11-04T00:00:00.000Z,3223.0,ETXL,SHOP112,60,2
9,SODA PET 1.5L,2021-11-08T00:00:00.000Z,3555.0,JSGV,SHOP055,160,2
10,FIT O MIXED FRUIT 200ML,2021-11-12T00:00:00.000Z,4222.0,PH98,SHOP055,120,2
11,FIT O MIXED FRUIT 1L,2021-11-12T00:00:00.000Z,4222.0,PH98,SHOP055,290,2
12,FIT O MIXED FRUIT 1L,2021-11-12T00:00:00.000Z,4613.0,AAV4,SHOP112,290,1
13,KIK COLA 1L,2021-11-15T00:00:00.000Z,4932.0,4Q2Z,SHOP055,120,2
14,GINGER BEER 1.5L,2021-11-16T00:00:00.000Z,5347.0,MO22,SHOP112,220,2
15,FIT O MIXED FRUIT 1L,2021-11-23T00:00:00.000Z,6507.0,3M73,SHOP112,290,1
16,CREAM SODA 1.5L,2021-11-29T00:00:00.000Z,7670.0,OA3U,SHOP055,220,2
17,LEMONADE 500ML,2021-12-01T00:00:00.000Z,7946.0,ZYJ7,SHOP112,200,3
18,FIT O ORANGE 1L,2021-12-02T00:00:00.000Z,8258.0,JM5Q,SHOP112,290,2
19,GINGER BEER 1.5L,2021-12-03T00:00:00.000Z,8365.0,QRCS,SHOP112,220,2
20,CREAM SODA 1.5L,2021-12-05T00:00:00.000Z,8675.0,QY7K,SHOP112,220,3
21,GINGER BEER 1.5L,2021-12-05T00:00:00.000Z,8675.0,QY7K,SHOP112,220,2
22,STRAWBERRY MILK 180ML,2021-12-05T00:00:00.000Z,8675.0,QY7K,SHOP112,140,2
23,NECTO 1.5L,2021-12-05T00:00:00.000Z,8675.0,QY7K,SHOP112,220,1
24,LEMONADE 1.5L,2021-12-05T00:00:00.000Z,8675.0,QY7K,SHOP112,220,2
25,NECTO 1.5L,2021-12-06T00:00:00.000Z,9334.0,GRV6,SHOP055,440,3
26,CREAM SODA 1.5L,2021-12-06T00:00:00.000Z,9334.0,GRV6,SHOP055,220,2
27,GINGER BEER 1L,2021-12-12T00:00:00.000Z,10349.0,07CT,SHOP112,150,1
28,GINGER BEER 1L,2021-12-12T00:00:00.000Z,10349.0,07CT,SHOP112,150,2
29,GINGER BEER 1L,2021-12-12T00:00:00.000Z,10349.0,07CT,SHOP112,150,1
30,GINGER BEER 1L,2021-12-12T00:00:00.000Z,10349.0,07CT,SHOP112,150,2
31,FIT O MANGO 200ML,2021-12-14T00:00:00.000Z,10762.0,K0PZ,SHOP112,60,2
32,SODA PET 1.5L,2021-12-14T00:00:00.000Z,11108.0,AN7O,SHOP055,160,2
33,ORANGE BARLEY 1.5L,2021-10-18T00:00:00.000Z,13789.0,K43U,SHOP003,220,2
34,CREAM SODA 1.5L,2021-10-20T00:00:00.000Z,14215.0,NIVY,SHOP003,220,1
35,FIT O MANGO 1L,2021-10-25T00:00:00.000Z,15186.0,YQHH,SHOP003,290,1
36,CREAM SODA 500ML,2021-10-26T00:00:00.000Z,15354.0,UWKU,SHOP003,100,2
37,CREAM SODA 500ML,2021-10-26T00:00:00.000Z,15354.0,UWKU,SHOP003,100,1
38,CREAM SODA 500ML,2021-10-26T00:00:00.000Z,15354.0,UWKU,SHOP003,100,2
39,CREAM SODA 500ML,2021-10-26T00:00:00.000Z,15354.0,UWKU,SHOP003,100,2
40,FIT O ORANGE 1L,2021-10-29T00:00:00.000Z,15948.0,TH9Z,SHOP003,270,2
41,ORANGE BARLEY 1.5L,2021-11-13T00:00:00.000Z,19274.0,HZFN,SHOP003,220,1
42,GINGER BEER 1.5L,2021-11-21T00:00:00.000Z,20890.0,WLN9,SHOP003,220,1
43,FIT O ORANGE 200ML,2021-11-23T00:00:00.000Z,21190.0,513E,SHOP003,120,2
44,STRAWBERRY MILK 180ML,2021-11-25T00:00:00.000Z,21419.0,A8P1,SHOP003,140,3
45,CREAM SODA 1.5L,2021-11-26T00:00:00.000Z,21782.0,N3ZN,SHOP003,220,1
46,SODA 500ML,2021-10-17T00:00:00.000Z,21853.0,UXT7,SHOP071,280,5
47,CREAM SODA APPLE POP 1L,2021-11-27T00:00:00.000Z,21966.0,RQZB,SHOP003,150,2
48,BOTTLED DRINKING WATER 500ML,2021-10-22T00:00:00.000Z,22584.0,6Q7T,SHOP071,70,4
49,ORANGE BARLEY 1.5L,2021-10-26T00:00:00.000Z,23094.0,XBP5,SHOP071,220,1

In [271]:
his_transaction_data.isnull().sum()

item_description     125
transaction_date       0
invoice_id          6320
customer_id            0
shop_id                0
item_price             0
quantity_sold          0
dtype: int64

In [272]:
# dropping the rows with missing values
his_df = his_transaction_data.dropna()

# copying the dropped values in to a new dataframe
dropped_data = his_transaction_data[~his_transaction_data.index.isin(his_df.index)]
# his_transaction_data.shape

In [273]:
#his_df.head()
#dropped_data.head(50)

**Removing Duplicate Values**

In [274]:
his_df.drop_duplicates(inplace=True)

<ipython-input-274-4bc006987102>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  his_df.drop_duplicates(inplace=True)

In [275]:
his_df.shape

(436854, 7)

# **Feature Extraction**

In [276]:
his_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 436854 entries, 0 to 473824
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   item_description  436854 non-null  object
 1   transaction_date  436854 non-null  object
 2   invoice_id        436854 non-null  float64
 3   customer_id       436854 non-null  object
 4   shop_id           436854 non-null  object
 5   item_price        436854 non-null  int64
 6   quantity_sold     436854 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 26.7+ MB

In [277]:
# extracting date as year, month, day, week
# extracting time 
# to seperate columns
his_df[["date", "time"]] = his_df["transaction_date"].str.split('T',expand=True)
his_df.drop(columns="time",inplace=True)

<ipython-input-277-e3ee62b5aa81>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  his_df[["date", "time"]] = his_df["transaction_date"].str.split('T',expand=True)
<ipython-input-277-e3ee62b5aa81>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  his_df[["date", "time"]] = his_df["transaction_date"].str.split('T',expand=True)
<ipython-input-277-e3ee62b5aa81>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  his_df.drop(columns="time",inplace=True)

In [278]:
his_df.head()

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold,date
0,ORANGE BARLEY 1.5L,2021-12-11T00:00:00.000Z,147.0,BGXA,SHOP008,220,2,2021-12-11
1,GINGER BEER 1.5L,2021-10-17T00:00:00.000Z,371.0,IA25,SHOP112,220,2,2021-10-17
2,TONIC PET 500ML,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,160,2,2021-12-13
3,CREAM SODA 1L,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,150,2,2021-12-13
4,STRAWBERRY MILK 180ML,2021-10-23T00:00:00.000Z,1310.0,7S00,SHOP112,210,5,2021-10-23

# **Feature Encoding**

In [279]:
his_df["item_description"].describe()

count               436854
unique                  37
top       GINGER BEER 1.5L
freq                 58682
Name: item_description, dtype: object

item_description have 37 uniqure values. The categories aren't ordinal. Therefore using OHE encode the item_descriptioption

---

In [280]:
prev_features = list(his_df.columns)
his_df = pd.get_dummies(his_df, columns = ["item_description"])
# his_df.head()

In [281]:
features =  [x for x in list(his_df.columns) if x not in  prev_features ]

for i in features:
  his_df[i] = his_df[i]*his_df["quantity_sold"]
# his_df.head(50)

In [282]:
# multiplying item price with number of items
his_df["total_price"] = his_df["item_price"]*his_df["quantity_sold"]
df = his_df.groupby(["shop_id"]).sum()
df.columns

<ipython-input-282-4971c6ff857c>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = his_df.groupby(["shop_id"]).sum()

Index(['invoice_id', 'item_price', 'quantity_sold',
       'item_description_BOTTLED DRINKING WATER 1.5L',
       'item_description_BOTTLED DRINKING WATER 500ML',
       'item_description_CHOCOLATE MILK 180ML',
       'item_description_CREAM SODA 1.5L', 'item_description_CREAM SODA 1L',
       'item_description_CREAM SODA 500ML',
       'item_description_CREAM SODA APPLE POP 1L',
       'item_description_DRY GINGER ALE PET 500ML',
       'item_description_FIT O MANGO 1L', 'item_description_FIT O MANGO 200ML',
       'item_description_FIT O MIXED FRUIT 1L',
       'item_description_FIT O MIXED FRUIT 200ML',
       'item_description_FIT O ORANGE 1L',
       'item_description_FIT O ORANGE 200ML',
       'item_description_GINGER BEER 1.5L', 'item_description_GINGER BEER 1L',
       'item_description_GINGER BEER 400ML',
       'item_description_GINGER BEER 500ML',
       'item_description_GINGER BEER SUGAR FREE 500ML',
       'item_description_KIK COLA 1L', 'item_description_LEMONADE 1.5L',
       'item_description_LEMONADE 1L', 'item_description_LEMONADE 500ML',
       'item_description_LIME CRUSH JUICE 1L', 'item_description_NECTO 1.5L',
       'item_description_NECTO 1L', 'item_description_NECTO 500ML',
       'item_description_ORANGE BARLEY 1.5L',
       'item_description_ORANGE CRUSH 1.5L',
       'item_description_ORANGE CRUSH 1L',
       'item_description_ORANGE CRUSH 500ML', 'item_description_SODA 1L',
       'item_description_SODA 500ML', 'item_description_SODA PET 1.5L',
       'item_description_STRAWBERRY MILK 180ML',
       'item_description_TONIC PET 500ML', 'item_description_TWISTEE APPLE 1L',
       'total_price'],
      dtype='object')

In [283]:

df.head(200)

,invoice_id,item_price,quantity_sold,item_description_BOTTLED DRINKING WATER 1.5L,item_description_BOTTLED DRINKING WATER 500ML,item_description_CHOCOLATE MILK 180ML,item_description_CREAM SODA 1.5L,item_description_CREAM SODA 1L,item_description_CREAM SODA 500ML,item_description_CREAM SODA APPLE POP 1L,...,item_description_ORANGE CRUSH 1.5L,item_description_ORANGE CRUSH 1L,item_description_ORANGE CRUSH 500ML,item_description_SODA 1L,item_description_SODA 500ML,item_description_SODA PET 1.5L,item_description_STRAWBERRY MILK 180ML,item_description_TONIC PET 500ML,item_description_TWISTEE APPLE 1L,total_price
shop_id,,,,,,,,,,,,,,,,,,,,,
SHOP001,2.704814e+09,402875,3583,63,201,0,355,26,79,90,...,53,20,27,99,416,97,99,130,21,1065435
SHOP002,9.703687e+09,1040850,8974,121,397,7,1094,64,404,167,...,182,25,64,272,1046,453,246,330,53,2959010
SHOP003,6.336818e+09,725555,6456,136,379,7,634,99,260,218,...,103,10,48,224,707,271,126,279,33,1790730
SHOP004,4.736011e+09,663400,5913,74,169,13,550,59,191,96,...,97,19,63,230,545,179,219,184,49,1475715
SHOP005,7.744856e+09,780045,7072,119,241,7,562,48,225,160,...,128,15,50,217,850,242,428,227,56,1967830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SHOP123,2.877933e+09,384930,3528,97,134,0,309,24,124,103,...,67,12,33,113,412,94,258,102,36,907040
SHOP124,8.930920e+09,870830,8282,210,568,27,430,49,229,118,...,118,15,61,239,1136,350,397,393,85,2791905
SHOP125,2.316045e+09,342270,3774,96,357,6,66,19,159,25,...,15,23,40,198,768,235,72,274,25,1103335
SHOP126,7.102963e+09,621090,6147,140,305,13,315,0,287,123,...,59,0,62,302,921,216,341,407,43,1792955
SHOP127,1.289561e+10,859825,8167,323,940,7,496,25,217,241,...,104,6,51,181,901,198,131,365,42,3398175

groupby using invoice_id and combine dummy variable values for a each invoice -- this gives the invoice_id followed by the number of each item under invoice_id ...... need to consider quantity sold as well....if OHE --> 0001 and quantity sold is 2 then items in that invoice should be 0002....


get the higest correlated dates with each shop and use that dates to maps.

# **Model Applying**

In [284]:
final_df= pd.merge(df,store_info,on="shop_id", how = 'left')
# final_df.head(50)

In [285]:
final_df.drop(columns ="invoice_id",axis=1, inplace=True)
final_df.drop(columns ="item_price",axis=1, inplace=True)
df_to_predict = pd.merge(testing_data.drop("shop_profile",axis=1),final_df, on ="shop_id", how="left")
final_df.drop(columns ="shop_id",axis=1, inplace=True)
df_to_predict.drop(columns ="shop_id",axis=1, inplace=True)

# df_to_predict.head(50)

final_df.head(50)

,quantity_sold,item_description_BOTTLED DRINKING WATER 1.5L,item_description_BOTTLED DRINKING WATER 500ML,item_description_CHOCOLATE MILK 180ML,item_description_CREAM SODA 1.5L,item_description_CREAM SODA 1L,item_description_CREAM SODA 500ML,item_description_CREAM SODA APPLE POP 1L,item_description_DRY GINGER ALE PET 500ML,item_description_FIT O MANGO 1L,...,item_description_ORANGE CRUSH 500ML,item_description_SODA 1L,item_description_SODA 500ML,item_description_SODA PET 1.5L,item_description_STRAWBERRY MILK 180ML,item_description_TONIC PET 500ML,item_description_TWISTEE APPLE 1L,total_price,shop_area_sq_ft,shop_profile
0,3583,63,201,0,355,26,79,90,24,33,...,27,99,416,97,99,130,21,1065435,580,Low
1,8974,121,397,7,1094,64,404,167,91,66,...,64,272,1046,453,246,330,53,2959010,637,NaN
2,6456,136,379,7,634,99,260,218,41,102,...,48,224,707,271,126,279,33,1790730,810,High
3,5913,74,169,13,550,59,191,96,49,46,...,63,230,545,179,219,184,49,1475715,516,Low
4,7072,119,241,7,562,48,225,160,67,111,...,50,217,850,242,428,227,56,1967830,617,Low
5,6707,85,350,0,662,61,199,176,68,80,...,57,161,1000,268,224,137,58,1788355,676,Low
6,6815,97,179,0,1020,82,246,215,65,35,...,81,107,747,175,300,208,28,2345905,617,Low
7,461,18,25,4,43,7,21,31,0,7,...,4,14,43,8,8,21,0,126195,678,Moderate
8,7758,123,435,0,672,61,245,203,56,73,...,109,145,1254,144,244,152,51,1854050,676,High
9,7595,168,220,31,666,48,243,105,128,78,...,68,277,1133,309,376,261,49,1764180,617,Moderate
10,11307,240,572,0,1009,57,488,200,295,105,...,88,421,1391,732,256,577,70,3393635,617,High
11,3888,197,100,0,341,0,285,157,65,40,...,83,30,155,83,255,118,40,1098600,336,Low
12,7067,155,327,0,305,48,324,76,256,144,...,93,328,948,301,271,438,40,2049655,631,Moderate
13,7610,137,319,13,450,64,278,186,130,80,...,33,316,1251,404,388,379,76,1823960,617,Moderate
14,5041,52,83,0,765,0,178,188,41,46,...,63,71,303,68,251,49,44,1377755,441,Low
15,10804,168,399,14,491,75,250,168,490,109,...,60,766,1257,957,253,1540,33,3566535,1077,High
16,6653,161,239,20,458,67,156,108,88,82,...,45,363,796,486,263,268,55,1670965,617,High
17,10763,260,882,0,634,61,448,150,119,114,...,87,229,1406,466,431,403,72,5424605,617,High
18,6789,97,136,0,1046,0,397,208,38,101,...,85,131,533,156,167,135,65,2142335,411,NaN
19,8644,179,405,0,953,106,172,303,64,110,...,63,195,1098,158,287,222,44,2594140,617,Moderate
20,6371,135,323,0,587,51,208,273,41,65,...,62,152,467,184,344,135,50,1780695,676,Low
21,6031,177,520,8,302,26,195,160,77,50,...,98,92,963,114,371,184,56,1659345,735,High
22,7365,111,211,6,968,60,278,169,101,94,...,67,132,728,403,420,213,38,2446210,617,NaN
23,4950,224,264,6,511,50,196,73,72,76,...,47,129,524,185,135,128,35,1261205,676,NaN
24,5922,68,203,0,787,62,214,198,54,75,...,50,146,611,203,206,116,50,1747860,676,Low
25,7747,74,385,6,692,59,207,254,49,109,...,47,72,691,187,509,69,70,2125420,676,Moderate
26,6001,162,327,7,551,42,215,90,115,89,...,43,168,661,381,267,290,63,1454410,594,Moderate
27,6450,95,262,12,630,43,278,162,79,50,...,53,130,882,208,292,96,45,1902110,676,Low
28,6809,174,412,0,668,51,167,183,94,111,...,63,137,834,173,305,154,76,1868540,597,NaN
29,7335,163,425,13,725,35,146,307,81,116,...,84,204,497,223,386,249,38,2704245,530,NaN
30,7439,214,721,0,362,0,255,111,179,95,...,90,262,925,274,117,479,56,2945190,298,Moderate
31,4961,49,207,0,441,31,96,127,52,66,...,41,110,511,156,376,150,69,1288455,707,Moderate
32,9287,173,366,13,596,32,336,217,245,106,...,74,298,771,688,285,421,71,2677370,776,High
33,4303,74,150,0,325,39,200,98,44,48,...,46,91,584,176,269,107,31,1266780,494,Low
34,4615,94,210,13,277,44,156,74,122,66,...,76,106,633,144,206,278,36,1261235,381,Moderate
35,7102,120,337,34,477,1,292,59,175,93,...,66,222,981,218,207,482,27,2048270,351,Moderate
36,6918,184,403,12,517,81,263,184,36,88,...,103,143,1189,175,371,115,63,1684010,717,Low
37,5488,172,308,0,461,0,193,94,51,71,...,95,130,374,149,186,167,46,1384285,411,NaN
38,8319,257,891,7,434,57,279,101,131,104,...,86,148,1122,232,414,236,55,2489620,640,Moderate
39,5723,95,187,0,398,42,165,142,21,109,...,72,154,491,242,228,172,48,1707880,541,Moderate
40,5465,105,269,0,504,34,165,149,54,93,...,70,172,663,226,178,221,48,1463280,676,Low
41,5320,91,228,0,473,40,195,134,74,98,...,46,143,815,165,198,136,48,1253740,676,Low
42,11558,247,372,25,746,49,460,135,231,140,...,110,428,2482,585,399,553,64,2899195,676,High
43,4689,93,21,0,365,20,145,60,137,41,...,36,373,668,358,231,280,30,1266010,715,NaN
44,7748,194,632,12,642,59,281,173,82,108,...,49,130,601,170,347,176,85,1931025,742,High
45,6564,294,742,13,688,49,175,124,44,59,...,73,232,523,320,188,302,15,2549810,545,NaN
46,3028,42,139,7,247,27,138,71,8,66,...,39,88,341,126,177,116,30,795520,528,Moderate
47,5001,159,350,19,502,34,196,114,35,80,...,62,105,397,156,231,143,33,1649950,617,Moderate
48,7044,139,305,15,480,65,202,215,70,103,...,52,166,1228,218,224,219,73,1829535,565,Low
49,7396,104,157,0,1013,0,222,211,68,73,...,62,217,603,291,210,201,38,2360180,411,NaN

In [286]:
#final_df.fillna(np.nan)
# test_df = final_df[final_df["shop_profile"].isnull()]
train_df = final_df[~final_df["shop_profile"].isnull()]
# test_df.head(50)
# train_df.head(50)

In [287]:
# splitting the train_df into two
# into train and test dataset

X = train_df.drop("shop_profile",axis =1)
Y = train_df["shop_profile"]

# X.head()

In [288]:
# Y.head()

In [289]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size= 0.2, shuffle= True,random_state= 42)

**`Training the model `**

In [290]:
from sklearn.ensemble import RandomForestClassifier

random_forest_clf = RandomForestClassifier(n_estimators= 5, random_state=0)

# model training
random_forest_clf.fit(X_train, Y_train)

RandomForestClassifier(n_estimators=5, random_state=0)

**Predicting values and evaluating accuracy**

In [291]:
y_predict = random_forest_clf.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy = accuracy_score(Y_test,y_predict)

print(accuracy)

0.35

In [292]:
# Evaluating accuracy using F1 score

from sklearn.metrics import f1_score

f1 = f1_score(Y_test, y_predict, average ='macro')
 
print(f1)

0.21794871794871792

In [293]:
df_to_predict.head(50)

,quantity_sold,item_description_BOTTLED DRINKING WATER 1.5L,item_description_BOTTLED DRINKING WATER 500ML,item_description_CHOCOLATE MILK 180ML,item_description_CREAM SODA 1.5L,item_description_CREAM SODA 1L,item_description_CREAM SODA 500ML,item_description_CREAM SODA APPLE POP 1L,item_description_DRY GINGER ALE PET 500ML,item_description_FIT O MANGO 1L,...,item_description_ORANGE CRUSH 500ML,item_description_SODA 1L,item_description_SODA 500ML,item_description_SODA PET 1.5L,item_description_STRAWBERRY MILK 180ML,item_description_TONIC PET 500ML,item_description_TWISTEE APPLE 1L,total_price,shop_area_sq_ft,shop_profile
0,6564,294,742,13,688,49,175,124,44,59,...,73,232,523,320,188,302,15,2549810,545,NaN
1,4950,224,264,6,511,50,196,73,72,76,...,47,129,524,185,135,128,35,1261205,676,NaN
2,7365,111,211,6,968,60,278,169,101,94,...,67,132,728,403,420,213,38,2446210,617,NaN
3,6602,210,394,11,300,0,148,94,225,87,...,55,225,972,261,284,649,36,2513025,310,NaN
4,4689,93,21,0,365,20,145,60,137,41,...,36,373,668,358,231,280,30,1266010,715,NaN
5,7335,163,425,13,725,35,146,307,81,116,...,84,204,497,223,386,249,38,2704245,530,NaN
6,5488,172,308,0,461,0,193,94,51,71,...,95,130,374,149,186,167,46,1384285,411,NaN
7,6809,174,412,0,668,51,167,183,94,111,...,63,137,834,173,305,154,76,1868540,597,NaN
8,8509,152,300,7,1097,51,342,156,82,78,...,59,120,1071,208,208,136,61,2529060,676,NaN
9,6740,132,295,13,519,64,261,138,81,87,...,71,131,905,189,278,147,65,1853215,617,NaN
10,6277,152,700,6,321,26,261,110,103,103,...,55,95,798,156,400,225,69,1974685,774,NaN
11,6689,185,398,0,559,22,238,137,63,84,...,87,92,755,197,386,210,74,2194775,676,NaN
12,4318,66,151,6,480,42,138,170,8,43,...,56,96,520,87,192,81,29,1285720,554,NaN
13,8810,147,226,7,867,86,296,318,135,117,...,84,266,884,546,256,228,67,2448200,617,NaN
14,4413,179,682,12,186,20,72,101,47,62,...,41,47,959,71,207,134,22,2414935,588,NaN
15,6995,113,430,0,898,49,294,158,85,71,...,69,153,673,173,239,213,43,2021515,676,NaN
16,6789,97,136,0,1046,0,397,208,38,101,...,85,131,533,156,167,135,65,2142335,411,NaN
17,8974,121,397,7,1094,64,404,167,91,66,...,64,272,1046,453,246,330,53,2959010,637,NaN
18,7399,243,480,6,491,50,321,188,83,146,...,83,172,666,249,284,247,50,2033840,513,NaN
19,3448,39,129,0,405,12,124,93,55,32,...,28,89,228,150,183,168,28,1084635,527,NaN
20,7396,104,157,0,1013,0,222,211,68,73,...,62,217,603,291,210,201,38,2360180,411,NaN
21,5659,82,233,7,610,32,114,190,97,74,...,25,219,357,296,233,158,57,2033745,699,NaN
22,10269,170,461,0,1032,81,360,334,96,149,...,87,182,1412,167,333,185,62,2844885,597,NaN
23,4681,93,100,0,527,26,117,168,59,50,...,35,130,399,170,213,82,78,1264910,676,NaN

**Predicting the test data**

In [294]:
# predicting the shop_profile
X_to_predict = df_to_predict.drop(columns="shop_profile",axis=1)
y_test_predict = random_forest_clf.predict(X_to_predict)
y_test_predict = pd.DataFrame(y_test_predict)
y_test_predict.head(50)

           0
0       High
1        Low
2   Moderate
3   Moderate
4   Moderate
5       High
6        Low
7   Moderate
8        Low
9   Moderate
10      High
11       Low
12       Low
13      High
14  Moderate
15       Low
16       Low
17      High
18  Moderate
19       Low
20  Moderate
21       Low
22      High
23       Low

In [295]:
final_output = testing_data.drop("shop_profile",axis=1)
final_output.insert(loc=1 ,column ="shop_profile",value=y_test_predict.values )
final_output.head(50)

    shop_id shop_profile
0   SHOP046         High
1   SHOP024          Low
2   SHOP023     Moderate
3   SHOP097     Moderate
4   SHOP044     Moderate
5   SHOP030         High
6   SHOP038          Low
7   SHOP029     Moderate
8   SHOP096          Low
9   SHOP092     Moderate
10  SHOP081         High
11  SHOP076          Low
12  SHOP080          Low
13  SHOP074         High
14  SHOP107     Moderate
15  SHOP108          Low
16  SHOP019          Low
17  SHOP002         High
18  SHOP114     Moderate
19  SHOP087          Low
20  SHOP050     Moderate
21  SHOP061          Low
22  SHOP056         High
23  SHOP070          Low

In [296]:
final_output.to_csv("output.csv",index = False)